# Define o ambiente da aplicação
# development | production
NODE_ENV=development

# Porta da aplicação (Railway define automaticamente em produção)
PORT=3000

# URL completa de conexão com o banco
# Formato:
# mysql://USER:PASSWORD@HOST:PORT/DATABASE
#
# Exemplo LOCAL:
# mysql://root:senha@localhost:3306/Sistemaestoque
DATABASE_URL=

# Chave secreta usada para gerar e validar tokens
# IMPORTANTE -> Nunca subir valor real para o repositório
JWT_SECRET=